blinker==1.9.0
certifi==2025.6.15
chardet==5.1.0
charset-normalizer==3.4.2
click==8.2.1
colorzero==2.0
distro==1.8.0
gpiozero==2.0.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
lgpio==0.2.2.0
MarkupSafe==3.0.2
numpy==2.3.1
packaging==25.0
pigpio==1.78
pillow==10.4.0
pycryptodome==3.23.0
pycryptodomex==3.11.0
pypng==0.20220715.0
python-apt==2.6.0
qrcode==7.4.2
requests==2.32.4
rpi-lgpio==0.6
six==1.16.0
smbus==1.1.post2
smbus2==0.4.2
spidev==3.5
ssh-import-id==5.10
toml==0.10.2
typing_extensions==4.14.0
urllib3==2.5.0
Werkzeug==3.1.3
